#calc-yield-field {
	padding: 12px 0 6px;

	display: flex;
	flex-direction: column;

	color: white;
}
#calc-yield-field-header {
	padding: 6px 12px 0;

	font-size: 15px;
	border-bottom: 1px solid #73bef4;
	font-weight: bold;
	background-color: #313641;
}

.calc-yield-field-values {
	padding: 6px 12px 6px;
	background-color: #3c404b;
	/* border-radius: 0 0 5px 5px; */
	border-radius: 5px;
}

.calc-yield-field-row {
	padding-left: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px 20px;
}
.input-field {
	width: 30%;

	padding: 2px 0;
	font-size: 15px;
}

.input-field-amount {
	width: 40%;
}

#input-amount {
	width: 40px;
	padding: 1px 2px 1px 3px;

	color: white;
	background-color: #494d55;

	border: none;
	border-radius: 4px;
}
#input-amount:focus {
	outline: none;
}

#input-apy {
	width: 35px;
	padding: 1px 2px 1px 3px;

	color: white;
	background-color: #494d55;
	border: none;
	border-radius: 4px;
}
#input-apy:focus {
	outline: none;
}

#input-days {
	width: 35px;
	padding: 1px 2px 1px 3px;

	color: white;
	background-color: #494d55;
	border: none;
	border-radius: 4px;
}
#input-days:focus {
	outline: none;
}

#apy-profit-field {
	padding: 3px 2px 0;
}
