.chain-tabs-field {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	padding: 12px 2px 0px;
}
.chain-tab {
	display: flex;

	align-items: center;
	justify-content: center;

	height: 32px;
	width: 32px;
	/* padding: 4px 8px; */

	border-radius: 16px;

	font-size: 14px;
	font-weight: 500;
	color: #fefefe;
	background-color: #5d6169;
	text-transform: capitalize;
	cursor: pointer;
}
.chain-tab:hover {
	-webkit-filter: brightness(90%);
	-webkit-transition: all 0.3s ease;
}
.chain-tab-image {
	height: 20px;
	width: 20px;
}
.chain-tab-name {
	/* padding-left: 4px; */
}
