.piechart-field-header-values {
	display: flex;
	justify-content: space-between;

	height: 18px;
	margin: 6px 0 0 0;
	padding: 0px 12px 0;

	color: #fefefe;
	background-color: #313641;
	border-bottom: 1px solid #73bef4;
}

.piechart-field-header-value {
	box-sizing: border-box;
	width: 33%;

	font-size: 15px;
	font-weight: 600;
	text-transform: capitalize;
}

.piechart-field-header-value-2 {
	display: flex;
	align-items: center;
	padding: 0 0 0 24px;
	/* font-size: 17px; */
	/* background-color: red; */
}
.piechart-field-header-value-3 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
