.network-info-header-field-values {
	display: flex;
	justify-content: space-between;

	height: 18px;
	padding: 12px 12px 0;
	/* padding: 4px 12px 0; */

	color: #fefefe;
	/* color: #73bef4; */
	background-color: #313641;
}

.network-info-header-field-value {
	box-sizing: border-box;
	width: 33%;

	font-size: 15px;
	/* font-size: 13px; */
	font-weight: 600;
	text-transform: capitalize;
	/* border: 1px solid blue; */
}
.network-info-header-field-value-2 {
	display: flex;
	align-items: center;
	padding: 0 0 0 24px;
}
.network-info-header-field-value-3 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* .tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;

	bottom: 100%;
	left: 50%;
	width: 80px;
	margin-left: -40px;
	padding: 6px 2px;

	border-radius: 4px;
	background-color: #3c404bf2;

	font-weight: normal;
	font-size: 13px;
	color: #fff;
	text-align: center;
	text-transform: none;

	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
} */
