.tabs-field {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	padding: 12px 2px 0px;
}
.tab {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 20px;
	/* width: 30px; */
	padding: 4px 6px;

	border-radius: 14px;

	font-size: 14px;
	font-weight: 500;
	color: #fefefe;
	background-color: #5d6169;
	text-transform: capitalize;
	cursor: pointer;
}
.tab:hover {
	-webkit-filter: brightness(90%);
	-webkit-transition: all 0.3s ease;
}
.tab-image {
	height: 18px;
	width: 18px;
}
.tab-name {
	padding-left: 4px;
}
