.porl-info-header-field-values {
	display: flex;
	justify-content: space-between;

	height: 18px;
	padding: 6px 12px 1px;

	color: white;
}

.porl-info-header-field-value {
	box-sizing: border-box;
	width: 33%;

	font-size: 15px;

	font-weight: 600;
	text-transform: capitalize;
}
.porl-info-header-field-value-2 {
	display: flex;
	align-items: center;
	padding: 0 0 0 24px;
}
.porl-info-header-field-value-3 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
