.piechart-field {
	display: flex;
	justify-content: space-between;

	height: 84px;

	padding: 6px 12px;

	background-color: #3c404b;
	border-radius: 5px;
	/* border: 1px solid pink; */
}

#piechart-field-chart {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 80px;
	width: 100px;
	/* border: 1px solid green; */
}

/* ////////////////////////////////////////  */
/* ////////////////////////////////////////  */

#piechart-field-legenda {
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
	align-items: flex-start;

	height: 30px;
	width: 100px;
	margin: 0;
	padding: 0;
	/* border: 1px solid purple; */
}

.piechart-field-legenda-line {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	height: 12px;
	width: 46px;

	margin: 2px 2px 0 0;
	padding: 0;

	/* border: 1px solid orange; */
}

.dot {
	height: 8px;
	width: 8px;
	margin: 0 4px 0 0;
	padding: 0;

	border-radius: 50%;
}
.piechart-field-legenda-text {
	width: 35px;
	margin: 0;

	line-height: 10px;
	font-size: 10px;
	overflow: hidden;
	/* white-space: nowrap; */
	text-overflow: ellipsis;
}

/* ////////////////////////////////////////  */
/* ////////////////////////////////////////  */

#piechart-field-total-staked {
	width: 100px;

	position: relative;
	bottom: 48px;
	left: 1px;

	font-size: 15px;
	text-align: center;
	font-weight: 500;
	color: white;
	/* border: 1px solid pink; */
}

#piechart-field-total-sources {
	width: 100px;

	position: relative;
	bottom: 48px;
	left: 1px;

	font-size: 15px;
	text-align: center;
	font-weight: 500;
	color: white;
	/* border: 1px solid orange; */
}
.piechart-tooltip-box {
	display: flex;
	justify-content: center;

	width: 150px;
	/* border: 1px solid orange; */
}

.piechart-tooltip {
	padding: 4px 6px;

	text-transform: capitalize;
	color: #fefefe;
	font-size: 12px;

	border-radius: 5px;
}
