.yield-field-header-values {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px 20px;

	margin: 0 19px;
	padding: 0 0 4px 6px;
	height: 24px;

	color: #fefefe;
	background-color: #313641;
	border-bottom: 1px solid #73bef4;
}

.yield-field-header-value {
	display: flex;
	align-items: flex-end;
	gap: 10px;

	margin: 0;
	padding: 0;
	width: 30%;

	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}

.yield-field-header-logo {
	width: 37%;
	padding: 0 0 1px 0;
}
.yield-field-header-logo img {
	height: 18px;
	width: 18px;
}
