.woonetwork-field-header-values {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px 20px;

	margin: 0 16px;
	padding: 10px 5px 0 2px;

	color: #fefefe;
	background-color: #313641;
}

.woonetwork-field-header-value {
	margin: 0 0 -2px 0;
	padding: 0;
	width: 30%;
	font-size: 15px;
	font-weight: 600;
	text-transform: capitalize;
}
.woonetwork-field-header-logo {
	box-sizing: border-box;
	width: 40%;
	padding-left: 6px;
}
.woonetwork-field-header-logo img {
	height: 18px;
	width: 18px;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;

	bottom: 100%;
	left: 50%;
	width: 80px;
	margin-left: -40px;
	padding: 6px 2px;

	border-radius: 4px;
	background-color: #3c404bf2;

	font-weight: normal;
	font-size: 13px;
	color: #fff;
	text-align: center;
	text-transform: none;

	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
