.staking-info-field {
	height: 60px;
	/* padding: 10px 0px 6px 12px; */
	padding: 6px 0px 6px 12px;

	background-color: #3c404b;
	border-radius: 5px;
}

#staking-info-field-total {
	width: 100px;

	position: relative;
	top: -20px;
	text-align: center;

	font-size: 15px;
	font-weight: 500;
	color: white;
	/* border: 1px solid green; */
}
