.staking-info-field {
	display: flex;
	justify-content: space-between;

	height: 84px;

	padding: 6px 12px;

	background-color: #3c404b;
	border-radius: 5px;
	/* border: 1px solid pink; */
}

#staking-info-field-chart {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 78px;
	width: 100px;
	/* border: 1px solid green; */
}

#staking-info-field-total {
	width: 100px;

	position: relative;
	top: -60px;

	font-size: 15px;
	text-align: center;
	font-weight: 500;
	color: white;
	/* border: 1px solid orange; */
}

#charts-info-field-legenda {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;

	height: 28px;
	width: 100px;
	margin: 0;
	padding: 0;
	/* border: 1px solid purple; */
}

.charts-info-field-legenda-line {
	display: flex;
	align-items: center;

	height: 12px;
	width: 42px;
	margin: 0;
	padding: 0;

	line-height: 10px;
	font-size: 10px;
}

.dot {
	height: 10px;
	width: 10px;
	margin-right: 4px;

	border-radius: 50%;
}
