.staking-info-field {
	height: 60px;
	margin: 0 16px;
	/* margin-top: 12px; */
	padding: 6px 0px 4px;

	background-color: #3c404b;
	border-radius: 5px;
}

#staking-info-field-total {
	position: relative;
	top: -22px;
	left: 38px;

	font-size: 15px;
	font-weight: 500;
	color: white;
}
