.info-field-values {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px 20px;

	margin: 0 16px;
	padding: 11px 4px 7px 0;
}

.info-field-value {
	color: white;
	margin: 0;
	padding: 0 0 0 3px;
	width: 30%;

	font-size: 14px;
	text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info-field-symbol {
	width: 35%;
	padding-left: 8px;
}
