.info-field-values {
	display: flex;
	justify-content: space-between;

	padding: 10px 12px 6px;
}
.info-field-value {
	box-sizing: border-box;
	width: 33%;

	/* border: 1px solid green; */

	color: white;
	font-size: 15px;
	text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.info-field-value-2 {
	padding: 0 0 0 24px;
	/* padding: 0 0 0 40px; */
}
.info-field-value-3 {
	display: flex;
	justify-content: flex-end;
}
